<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script><script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    {% comment %} creating navigation bar {% endcomment %}
    <nav>
        <a href="/">Home</a> | 
        <a href="/about">About</a> | 
        <a href="{% url 'posts:list' %}">Menu</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
</body>
</html>