{% load static %}

{% block content %}
<div class="container mx-auto mt-10 bg-gray-900 text-white">
    <header class="bg-black py-4 px-6">
        <h1 class="text-2xl font-bold mb-4">Equipment List</h1>
    </header>
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Availability</th>
                <th>Condition</th>
            </tr>
        </thead>
        <tbody>
            {% for equipment in equipments %}
            <tr>
                <td>{{ equipment.name }}</td>
                <td>{{ equipment.category }}</td>
                <td>{{ equipment.quantity }}</td>
                <td>{{ equipment.availability }}</td>
                <td>{{ equipment.condition }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <main>
        <a href="../index.html" class="text-purple-400 hover:text-purple-600 mt-4 inline-block">Back to Equipments</a>
    </main>
</div>
{% endblock %}