{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipments Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">
    <header class="bg-black py-4 px-6">
        <h1 class="text-2xl">Equipments Management</h1>
    </header>
    <main class="p-6">
        <ul>
            <li><a href="templates/equipment_list.html" class="text-purple-400 hover:text-purple-600">Equipment List</a></li>
            <li><a href="templates/request_equipment.html" class="text-purple-400 hover:text-purple-600">Request Equipment</a></li>
            <li><a href="templates/view_requests.html" class="text-purple-400 hover:text-purple-600">View Requests</a></li>
        </ul>
    </main>
</body>
</html>
{% endblock %}
